@import "nullstyle.scss";


.VIpgJd-ZVi9od-aZ2wEe-wOHMyf .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none !important;
}

#google_translate_element{
    position: fixed;
    bottom: 0;
    left: 0;
}

#goog-gt-tt{
    display: none !important;
    visibility: hidden !important;
    background-color: #00000000 !important;
  }