@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Oops";
}

<link rel="stylesheet" href="~/css/error.css" asp-append-version="true">
<div class="container-err">
        <h1 class="title">Coming Soon...</h1>
        <p class="message">We're working on this feature.<br> Stay tuned for updates!</p>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn">Back to Home</a>
    </div>
